/* You can add global styles to this file, and also import other style files */
*{
    // font-family: 'Song Myung', serif;
    // font-family: 'Goudy Bookletter 1911', serif;
    font-family: 'Merriweather', serif;
    // color: white;
}