.container-about{
    border-radius: 15px 50px;
    background: grey;
    border: 2px solid white;
    text-align: justify;
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
    margin-top: 20px;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 30px;
}