<div class="container-about">
<h2>María Martín Hernández</h2>

<p>He creado esta aplicación 100% con Angular</p>

<p>Para desarrollar la aplicación lo primero que he creado es una Back-Api</p>

<p>La aplicación tiene tres apartados:</p>

<div>
<p>1. El apartado HOME, que tiene tres componentes:</p>
<p>El primer componente Home-Body, para que el que he descargado el componente de reproductor de youtube @angular/youtube-player</p>
<p>El segundo componente Home-Gallery, es un carrosoul de fotos, para el que he descargado el componenete Ng2Carouselamos para añadir un carrusel de fotos</p>
<p>El tercer componente Home-Form, es un formulario</p>
</div>

<div>
    <p>2. El apartado MUSIC</p>
    <P>Este apartado está recogiendo los datos de la api que he creado</P>
    <p>Y dentro de cada elemento del listado está el detalle del mismo, solo hay que pulsar encima de la caratula del disco y podras ver el detalle.</p>
    <p>El detalle también recoge todos los datos de la Back-api</p>
</div>

<div>
    <p>3. El apartado MERCHAN</p>
    <p>Este apartado también recoge los datos de la Back-Api</p>
    <p>Y dentro de cada elemento del listado está el detalle, solo con pulsar encima del producto podemos ver el detalle que también recoge la información de la back-api</p>
</div>

<div>
    <p>Tanto el detalle de Music y de Merchan, tiene un botón GoBack, con el que al pulsar volvemos a la página anterior.</p>
</div>
</div>
