footer {
    background-color: black;
    color: white;
    border-top:solid 3px white;
}
.footer-span1{
    text-align: left;
    padding-left: 1%;
}
.footer-span2 {
    text-align: right;
    padding: 0;
}