@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5lkx9s');
  src:  url('fonts/icomoon.eot?5lkx9s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5lkx9s') format('truetype'),
    url('fonts/icomoon.woff?5lkx9s') format('woff'),
    url('fonts/icomoon.svg?5lkx9s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
