<div class="container-music">
<div class="container-list" *ngFor="let item of allMusic">
    <ul class="">
      <li class="container-list_li">
        <h2>{{ item.name }}</h2>
        <h5>{{item.age}}</h5>
        <img class="pointer" src="{{item.image}}" [routerLink]="['/detail-music', item.id]" routerLinkActive="active">
        <!-- <a [routerLink]="['/detail-music', item.id]" routerLinkActive="active">Detail</a> -->
      </li>
    </ul>
  </div>
</div>