.container-music {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.container-list_li{
    list-style: none;
    line-height: 3px;
    border-radius: 15px 50px;
    // background: #161616;
    // background: rgb(255, 255, 255);
    padding: 40px;
    padding-top: 3em;
    color: white;
    border: 2px solid white;

    img {
        max-width: 300px;  
        height: auto;            
    }

    .pointer{
        cursor: pointer;
    }
}
