<div class="container-form">
<h3>Te unes a nuestro grupo?</h3>

<form class="main-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="formContact">
    <fieldset class="form-name">
      <label for="name">Name </label>
      <input type="text" id="name" formControlName="name" />
    </fieldset>

    <fieldset class="form-surname">
        <label for="surname">Surname </label>
        <input type="text" id="surname" formControlName="surname" />
      </fieldset>

    <fieldset class="form-age">
        <label for="age">Age </label>
        <input type="number" id="opinion" formControlName="age" />
    </fieldset>
    
  
    <fieldset class="form-email">
      <label for="email">Email </label>
      <input type="text" id="email" formControlName="email" />
    </fieldset>

    <fieldset class="form-country">
      <label for="country">Country </label>
      <select id="country"  formControlName="country">
      <option  *ngFor="let country of country" [value]="country">{{ country.name }}</option>
      </select>
    </fieldset>

    <fieldset class="form-policy">
      <label for="policy">Accept private politics </label>
      <input type="checkbox" id="policy" formControlName="policy" />
    </fieldset>
 
   <button class="button" type="submit">Suscribe</button>
  </form>
</div>

