.container-form{
    text-align: right;
    color: white;
    border: none;
    margin-top: 5%;
    // padding-right: 50%;
    // margin-left: 20px;
    margin-bottom: 2%;
    h3{
        text-align:right;
        padding-right: 1em;
    }

    .main-form{

    .form-name{
        border: none;
    }
    .form-surname{
        border: none;
    }
    .form-age{
        border: none;
    }
    .form-email{
        border: none;
    }
    .form-country{
        border: none;
    }
    .form-policy{
        border: none;
    }
 
    input[type=text], select, textarea {
        width: 40%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        // resize: vertical;
    }
    input[type=number], select, textarea {
        width: 40%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        // resize: vertical;
    }
    select {
        width: 40%;
        padding: 10px;
        border: none;
        border-radius: 4px;
    }
    select {
        width: 41.5%;
        padding: 10px;
        border: none;
        border-radius: 4px;
    }

   .button{
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-left: 35%;
    margin-right: 18px;
    padding-right: 2em;
    }
}
}