<div class="container">
    <h1>{{ detailMusic.name }}</h1>
    <p>{{ detailMusic.age }}</p>
    <p>{{ detailMusic.discography }}</p>
    <p>{{ detailMusic.duration }}</p>
    <img src="{{ detailMusic.image }}">
    <ul class="container-ul">
        <li>{{detailMusic.songList}}</li>
    </ul>
    <div class="button">
        <button (click)="goBack()">GO BACK</button>
    </div>
</div>

