.container {
    text-align: center;
    color: white;
    border-radius: 15px 50px;
    background: #161616;
    border: 2px solid white;
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;

    img {
        max-width: 380px; 
    }

    button {
        border-radius: 12px;
        width: 150px;
        height: 40px;
        cursor: pointer;
        margin-bottom: 1em;

    }
.container-ul{
    list-style: none;
    margin: 10px;
}
}