<div class="container-merchan">
    <div class="container-list" *ngFor="let item of allMerchan">
    <div>
      <ul>
        <li class="container-list_li">
          <img class="pointer" src="{{item.imagen}}" [routerLink]="['/detail-merchan', item.id]" routerLinkActive="active">        
          <h4>{{ item.product }}</h4>
          <p>{{item.price}}</p>
        </li>
      </ul>
    </div>
    </div>
</div>