<div class="main-container">
<nav class="nav-container">
    <div class="nav-logo">
      <!-- <img src="{{ logo }}" alt="{{ altLogo }}"> -->
      <h1>MI GRUPO</h1>
    </div>
    <div class="nav-links">
      <a class="link" role="button" routerLink="/home">HOME</a>
      <a class="link" role="button" routerLink="/music">MUSIC</a>
      <a class="link" role="button" routerLink="/merchan">MERCHAN</a>
      <a class="link" role="button" routerLink="/about">ABOUT</a>
    </div>

    <div class="nav-icons">
      <a class="icon-linkedin" href="https://www.linkedin.com/in/mar%C3%ADa-mart%C3%ADn-hern%C3%A1ndez-7086a631/"></a>
      <a class="icon-facebook" href="https://www.facebook.com/Thekillers"></a>
      <a class="icon-instagram" href="#"></a>
      <a class="icon-spotify" href="#"></a>
      <a class="icon-twitter" href="#"></a>
      <a class="icon-youtube" href="#"></a>
    </div>
    <hr>
</nav>
</div>