.nav-container {
    margin: top;
    color: white;
    // border: 5px solid rgb(250, 2, 176);
}
.nav-logo{
    vertical-align: middle;
    height: 80px;
    width: 100%;
    
    h1{    
        text-align: center;
        font-size: 30px;  
        border-bottom: solid 2px white;  
        padding-bottom: 1em;
    }        
}
.nav-links{
    margin-top: 1em;
    text-align: center;
            // background-color: black;
    a{
        padding: 0 20px;
        padding-right: 10%;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 17px;
        }
        a:hover {
        color: rgb(250, 2, 176);
     
    
        }
    }
    
.nav-icons a{
    text-decoration: none;
    color: white;
    padding: 5px;
        // float: left;
}

hr{
    border: 1px solid white;
}
