.prueba{
    border-radius: 15px 50px;
    // border: 2px solid white;
    margin-top: 5%;
    padding-bottom: 5%;
}

h2{
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 30px;
}

.conteiner-gallery{
    width: 100%;
    margin: 5em auto;
    padding: 0;
    background: #fff;
}
.items {
    max-width: 750px;
    height: 340px;
    color: white;
}

#left, #right {
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
}
