<div class="prueba">
    <h2>{{ tittle }}</h2>
    <div class="container-gallery">
        <div ng2-carouselamos class="slides-wrapper"
        [items]="items"
        [width]="1000"
        [$prev]="prev"
        [$next]="next"
        [$item]="item">
    </div>
    <ng-template #prev>
        <img src="../../../../assets/fotos/iconfinder_backward_back.png" id="left">
    </ng-template>
 
    <ng-template #next>
     <img src="../../../../assets/fotos/iconfinder_forward_arrow.png" id="right">
    </ng-template>
 
    <ng-template #item let-item let-i="index">
        <div class="items">
            <img src="{{ item.img }}">
        </div>
    </ng-template>
    </div>
</div>




