.container{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2px;
    padding-top: 2%;
    // border-radius: 25px;
    // border-radius: 15px 50px 30px;
    // border-radius: 15px 50px;
    // border: 2px solid white;
    // background: rgb(255, 255, 255);
    color:white;
}