<div class="container">
  <h2>{{ tittle }}</h2>
  <div>
    <youtube-player videoId="4go_DzY8wHc"></youtube-player>
  </div>
  <div>
   <h3>{{ tittle2 }}</h3>
   <p>{{ description }}</p>
  </div>
</div>
