<div class="container">
    <img src="{{ detailMerchan.imagen }}">
    <h3>{{ detailMerchan.product }}</h3>
    <p>{{ detailMerchan.price}}</p>
    <h5>{{ detailMerchan.code}}</h5>
    <p>{{ detailMerchan.description}}</p>
<div class="button">
    <button (click)="goBack()">GO BACK</button>
</div>