.container {
    text-align: center;
    border-radius: 15px 50px;
    background: #161616;
    border: 2px solid white;
    color: white;
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2em;

    img{
        max-width: 330px;
    }
}

button {
    border-radius: 12px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 1em;
}